*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Acumin Pro, sans-serif;
}

a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.align-items-row {
  display: flex;
  flex-direction: row;
}

.available-margin {
  display: block;
  margin-right: 1rem;
}

.wrapper {
  position: relative;
  height: 100vh;
  margin: 2rem;
}
/*header*/
.header {
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.header-logo-part img {
  width: 20rem;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  font-size: 2rem;
  margin-left: 2rem;
  text-transform: uppercase;
}

.nav-item:hover {
  color: #888;
}

.community-menu-item {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}
.community-menu-item:hover {
  color: #eee;
}

/*main*/
/* menu-iten */
.main-item {
  font-size: 2rem;
  text-transform: uppercase;
}

.main-item:hover {
  color: #888;
}

.archive-menu {
  padding-top: 0.5rem;
}

.archive-menu-item {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}
.archive-menu-item:hover {
  color: #eee;
}
