.main-section {
  display: flex;
  height: 80%;
  padding-left: 2rem;
  padding-top: 3rem;
  margin-bottom: 7rem;
}

.main-menu-part {
  width: 20%;
}

.main-logo-part {
  flex-grow: 1;
}

.main-logo-part img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60rem;
  width: 60rem;
}
/*footer*/
.footer-information {
  display: flex;
  justify-content: center;
}

.footer-item {
  margin: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
