.main-section {
  display: flex;
  height: 70%;
  padding-left: 2rem;
  padding-top: 3rem;
  margin-bottom: 7rem;
}

.main-menu-part {
  width: 10%;
}

.main-product-part {
  flex-grow: 1;
  padding-right: 8%;
}

.product-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.each-product {
  margin-bottom: 2rem;
}

.each-product-name {
  text-align: center;
}

/*footer*/
.footer-information {
  display: flex;
  justify-content: center;
}

.footer-item {
  margin: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
