<!-- no pagination -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARRT'EMIS</title>

    <!-- font -->
    <link rel="stylesheet" href="https://use.typekit.net/snx7zgg.css">
    <link rel="stylesheet" href="./assets/lookbook.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">

            <div class="header-logo-part">
                <img src="./images/폰트LOGO.png" alt="ARRT`EMIS FONT LOGO">
            </div>
            
            <div class="nav">
                <div class="nav-item portal">portal</div>
                <div class="nav-item instagram">instagram</div>
                <div class="nav-item community">community</div>
                <div class="nav-item search">search</div>
            </div>

        </div>
    
        <div class="main-section">

            <div class="main-menu-part">
                Archive
            </div>

            <div class="main-lookbook-part">
                <div class="main-lookbook-container">
                    <div class="main-lookbook-detail">
                        <div class="main-lookbook-release-date">
                            spring 2022.
                        </div>
                        <div class="main-lookbook-title">
                            official lookbook
                        </div>
                        <div class="main-lookbook-subtitle">
                            ARRT`EMIS Grand Exploration
                        </div>
                        <div class="main-lookbook-view">
                            <a href="#">view all</a>
                        </div>
                    </div>
                    <div class="main-lookbook-photo">
                        <img class="main-lookbook-img" src="./images/lookbook3.jpg" alt="l1">
                    </div>
                    <div class="main-lookbook-photo">
                        <img class="main-lookbook-img" src="./images/lookbook3.jpg" alt="l2">
                    </div>
                    <div class="main-lookbook-photo">
                        <img class="main-lookbook-img" src="./images/lookbook3.jpg" alt="l3">
                    </div>
                    <div class="main-lookbook-photo">
                        <img class="main-lookbook-img" src="./images/lookbook3.jpg" alt="l4">
                    </div>
                </div>
            </div>

        </div> 
    </div>
</body>

</html>