<!-- no pagination -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARRT'EMIS</title>

    <!-- font -->
    <link rel="stylesheet" href="https://use.typekit.net/snx7zgg.css">
    <link rel="stylesheet" href="/assets/style/lookbook.css">
     <!-- icon -->
     <script src="https://kit.fontawesome.com/0f0c6f90bb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">

            <div class="header-logo-part">
                <img src="/images/폰트LOGO.png" alt="ARRT`EMIS FONT LOGO">
            </div>
            
            <div class="nav">
                <div class="nav-item portal"><i class="fab fa-instalod"></i></div>
                <div class="nav-item instagram">
                    <a href="https://www.instagram.com/arrtemis__official/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="nav-item community">
                    <label for="community-menu">community</label>
                    <ul name="community-menu" class="community-menu hidden">
                        <li class="community-menu-item"><a href="/notice">notice</a></li>
                        <li class="community-menu-item"><a href="#">Q&A</a></li>
                    </ul>
                </div>
                <div class="nav-item search">search</div>
            </div>

        </div>
    
        <div class="main-section">

            <div class="main-menu-part">
                Archive
            </div>

            <div class="main-lookbook-part">
                <div class="main-lookbook-container">
                </div>
                <div class="loading-message">Loading lookbooks...</div>
            </div>

        </div> 
    </div>
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/scroll.js"></script>
    <script src="https://unpkg.com/@webcreate/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
</body>

</html>