<!--carousel -->
<!--popup -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARRT'EMIS</title>

    <!-- font -->
    <link rel="stylesheet" href="https://use.typekit.net/snx7zgg.css">
    <link rel="stylesheet" href="./assets/notice.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">

            <div class="header-logo-part">
                <img src="./images/폰트LOGO.png" alt="ARRT`EMIS FONT LOGO">
            </div>
            
            <div class="nav">
                <div class="nav-item portal">portal</div>
                <div class="nav-item instagram">instagram</div>
                <div class="nav-item community">community</div>
                <div class="nav-item search">search</div>
            </div>

        </div>
    
        <div class="main-section">
            <!-- carousel-->
            <div class="main-menu-part">
                <div class="main-item title">about</div>
                <div class="main-item all-items">allItems</div>
                <div class="main-item top">top</div>
                <div class="main-item hats">hats</div>
                <div class="main-item others">others</div>
                <div class="main-item archive">archive</div>
            </div>

            <div class="main-notice-part">
                <div class="main-notice-title">notice</div>
                <table class="main-notice-structure">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Subject.</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Read</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1.</th>
                            <th>이게 맞나?</th>
                            <th>전예찬</th>
                            <th>21.12.08</th>
                            <th>읽음</th>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="footer">

            <div class="footer-information">
                <div class="footer-item stores">stores</div>
                <div class="footer-item contact">contact</div>
                <div class="footer-item shipping-return">shippingAndReturn</div>
                <div class="footer-item policy">policy</div>
                <div class="footer-item copyright">copyright</div>
            </div>

        </div>  
    </div>
</body>

</html>